<h2>Employee List</h2>
<table class="table table-striped" *ngIf="!error">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Job Title</th>
    <th>Email id</th>
    <th>Phone</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of this.employees">
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.jobTitle}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.phone}}</td>
    <td>
      <button (click)="updateEmployee(employee.id)" class="btn btn-info" type="button">Update</button>
      <button (click)="deleteEmployee(employee.id)" class="btn btn-danger delete" type="button">Delete</button>
    </td>
  </tr>
  </tbody>

</table>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
